@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Face</h1>
    <div id="responsef">

    </div>
    <fb:login-button scope="public_profile,email"
                     onlogin="checkLoginState();">
    </fb:login-button>
    <div id="authStatus">   </div>
</div>

@section Scripts{


    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1428190727353025',
                cookie: true,
                xfbml: true,
                version: 'v6.0'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));



        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                //statusChangeCallback(response);
                //$("#authStatus").html("<code>" + JSON.stringify(response, null, 2) + "</code>");
                let url = "https://localhost:5001/api/v1/identity/auth/face";
                let table = `<table class="table border-stripped"><tr><th>Yapi token</th><th>Yapi refresh token</th></tr>`;

                var model = {
                    "AccessToken": response.authResponse.accessToken
                };
                $.ajax({
                    type: "POST",
                    url: url,
                    async: false,
                    crossDomain: true,
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(model),
                    success: function (data) {
                        console.table(data);
                        localStorage.setItem("token", data.token);
                        localStorage.setItem("refreshtoken", data.refreshToken);
                        table += `<tr><td>${data.token.substr(1,5)}...</td><td>${data.refreshToken.substr(1,5)}...</td></tr>`;

                        $("#responsef").html(table);

                    },
                    error: function (error) {
                        console.log(error);
                        $("#loginDiv").show();
                        $("#userDiv").hide();
                    }
                });

            });
        }//next send response controller then request to api
    </script>
}